<mat-card class="card" *ngIf = "userDetails">
    <mat-card-header>
      <mat-card-title>Employee</mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <img mat-image src="https://i217.photobucket.com/albums/cc312/mastersig/Avitars/For%20Me/C_D_A.png" >
    <mat-card-content>
            <div class="id">
                    <label>
                        {{userDetails.id}}
                    </label>
                </div>
            <div class="name">
                    <label>
                        {{userDetails.firstname}} {{userDetails.lastname}}
                    </label>
                </div><br>
                <div class="designation">
                    <label>
                        {{userDetails.designation}}
                    </label>
                </div><br>
                <div class="team">
                    <label>
                        {{userDetails.team}}
                    </label>
                </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>