.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color : cadetblue;
    color: white;
    font-weight: 600;
  }

  .search {
    margin-top: 10px;
    text-align: end;
  }

  