
<div class="card">

      <img class="profile-image" src="https://i217.photobucket.com/albums/cc312/mastersig/Avitars/For%20Me/C_D_A.png" alt ="" height="100px" width="100px">

    <div class="profile-main">
      <h2 class="profile-name"></h2>
      <div class="roles">
          <div>
              <label>
                {{user.name}} {{userInfo.firstname}}
            </label>
          </div>
          <br>
          <div>
            <label>
              {{user.designation}}
          </label>
        </div>
        <br>

              <div><label>
                  {{user.team}}
              </label>
            </div><br>
          </div>
    </div>
  </div>
