.card {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width:80%;
  height: 270%;
  flex-direction: row;
  background-color: rgba(54, 152, 190, 0.795) ;
  color: black;
  padding: 2em;
  padding-left: 50px;
  float: left;
  margin-bottom: 80px;
}

.roles {
  color: black;
  }
  *{
    box-sizing:  border-box;

  }
  .profile-image{
    border-radius: 50%;
    border: 3px solid white;
    display: inline;
    margin-left: 50px;
    margin-right: 50px;


  }
  /* .profile-name{
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 1px;
  } */
  .profile-position{
    color: black;
  }
  .profile-name::after{
    content: "";
    display: block;
    height: 1px;
    width: 8em;
    background: black;
    margin: 0.5em auto;
    padding-bottom: 0.5px;
  }
